a.code-content {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #222;
  display: inline-block;
}

a.code-content:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.code-content .id {
  font-size: 30px;
  width: 70px;
  float: left;
  text-align: center;
  margin-right: 10px;
}

.code-content .details {
  display: inline-block;
}
